body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background-attachment: fixed;
    box-sizing: border-box;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

form {
    /* display: flex; */
    justify-content: center;
    margin: 10vh;
    color: azure;
    flex-direction: column;
    border: 10px;
    border-radius: 5px;
    padding: 30px;
    
    /* background-color: blueviolet; */

}
legend{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.userDetails{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 20px;
    background-color: #9dd4a7;
}
.userDetails label{
    margin-top: 10px;
}

.userDetails input{
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
   
}
button{
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(35, 47, 47);
    background-color: rgb(191, 155, 77);
}